#gratitude {
  position: relative;
}
.bubble {
  position: absolute;
  width: 100px;
  height: 100px;
  clip-path: circle(50%);
  text-align: center;
  background-color: blueviolet;
  animation: float 6s ease-in-out infinite;
}

:host ::slotted .text {
  width: 100px;
  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
